<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carto.advancedmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_180"
        android:label="Advanced.Java"
        android:name=".MapApplication">
        <activity
            android:name=".list.LauncherListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Section 1-->
        <activity android:name=".sections.basemap.BaseMapsActivity"/>

        <!--Section 2-->
        <activity android:name=".sections.offlinemap.packagemanager.PackageManagerActivity" />
        <activity android:name=".sections.offlinemap.packagemanager.PackagedMapActivity" />
        <activity android:name=".sections.offlinemap.BundledMapActivity" />

        <!--Section 3-->
        <activity android:name=".sections.overlaydatasources.GroundOverlayActivity" />
        <activity android:name=".sections.overlaydatasources.CustomRasterDataSourceActivity" />
        <activity android:name=".sections.overlaydatasources.WmsMapActivity" />

        <!--Section 4-->
        <activity android:name=".sections.gis.VectorObjectEditingActivity" />

        <!--Section 5-->
        <activity android:name=".sections.vectorobjects.OverlaysActivity" />

        <!--Section 6-->
        <activity android:name=".sections.other.CaptureActivity" />
        <activity android:name=".sections.other.ClusteredMarkersActivity" />
        <activity android:name=".sections.other.CustomPopupActivity" />
        <activity android:name=".sections.other.GPSLocationActivity" />
        <activity android:name=".sections.other.OfflineRoutingActivity" />

    </application>

</manifest>
