<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carto.advancedmap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".maplist.LauncherListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".map.PinMapActivity" />
        <activity android:name=".maplist.PackageManagerActivity" />
        <activity android:name=".map.PackagedMapActivity" />
        <activity android:name=".map.Overlays2DActivity" />
        <activity android:name=".map.MapListenerActivity" />
        <activity android:name=".map.Overlays3DActivity" />
        <activity android:name=".map.OfflineVectorMapActivity" />
        <activity android:name=".map.GroundOverlayActivity" />
        <activity android:name=".map.AnimatedRasterMapActivity" />
        <activity android:name=".map.RasterOverlayActivity" />
        <activity android:name=".map.AerialMapActivity" />
        <activity android:name=".map.CustomRasterDataSourceActivity" />
        <activity android:name=".map.CustomPopupActivity" />
        <activity android:name=".map.MbtilesActivity" />
        <activity android:name=".map.WmsMapActivity" />
        <activity android:name=".map.ClusteredRandomPointsActivity" />
        <activity android:name=".map.ClusteredGeoJsonActivity" />
        <activity android:name=".map.MyLocationActivity" />
        <activity android:name=".map.OfflineRoutingActivity" />
        <activity android:name=".map_carto.CartoSQLActivity" />
        <activity android:name=".map_carto.CartoUTFGridActivity" />
        <activity android:name=".map_carto.CartoTorqueActivity" />
        <activity android:name=".map_carto.CartoVectorTileActivity" />
        <activity android:name=".map_carto.CartoRasterTileActivity" />
        <activity android:name=".map.MapZenActivity" />
        <activity android:name=".map.CaptureActivity" />

        <activity android:name="com.carto.filepicker.FilePicker" />
    </application>

</manifest>
