<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carto.cartomap">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_180"
        android:label="Carto.Java"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Section 1 -->

        <!-- Section 2 -->
        <activity android:name=".sections.importapi.TilePackagerActivity" />

        <!-- Section 3 -->
        <activity android:name=".sections.mapsapi.AnonymousVectorTableActivity" />
        <activity android:name=".sections.mapsapi.NamedMapActivity" />
        <activity android:name=".sections.mapsapi.AnonymousRasterTableActivity" />

        <!-- Section 4 -->
        <activity android:name=".sections.sqlapi.SQLServiceActivity" />

        <!-- Section 5 -->
        <activity android:name=".sections.torqueapi.TorqueShipActivity" />
    </application>

</manifest>